<html>

<body>
<script src="http://temperature-widget.herokuapp.com/ninja_widget.js?widget_token=mwjuvirtwoswdmnjljynlcnryvrcnhlzpdbdxikltsrhimwusm"></script>
<br/>
<iframe src="https://labs.brighttalk.com/e/1" width=660 height=420 frameBorder=0>Loading BrightTALK Embed</iframe>

</body>
</html>

